= label :user, :name, 'Name'
= @user.name
 
= label :user, :shareholder, 'Shareholder?'
yes 
= radio_button :user, :shareholder, true
<p>no  
= radio_button :user, :shareholder, false

= label :user, :shareholding_percent, 'Shareholding Percent'
= text_field :user, :shareholding_percent
