%h2 Details about #{@user.name}

%ul#details
  %li
    Name:
    = @user.name
  %li
    Shareholder?:
    = @user.shareholder
  %li
    Shareholding %:
    = @user.shareholding_percent


<p>
= link_to 'Edit', edit_admin_user_path(@user)
<p>
= button_to 'Deactivate', admin_user_path(@user), :method => :deactivate, :confirm => 'Are you sure?'
</p>
= link_to 'Back to user list', admin_users_path
